.center {
  color: red;
  margin: 0 auto;
  width: 30em;
  text-align: center;
}

.imgs {
  height: 500;
  width: 500;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 5px solid red;
}

span {
  color: white;
}
